in.txt
out.txt
out2.txt
out3.txt
.vscode
Project #02.pdf
test
Bitstream
build/
Images_Out/
Histograms/
GolombCodeFiles/
Audio_work/build/
Audio_work/AudioFile/
Audio_work/Sounds_Out/
Audio_work/GolombCodeFiles/
Audio_work/Histograms/